@model VisionBoard.Models.Mesurement

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Measurements" asp-action="Create" onsubmit="return AddorEditMeasuerment(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="GoalId" class="control-label"></label>
                        <select asp-for="GoalId" class="form-control" asp-items="ViewBag.GoalId"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label><br />
                        <input type="radio" asp-for="Type" value="By Value" />By Value &nbsp;&nbsp;
                        <input type="radio" asp-for="Type" value="By Steps" />By Steps<br />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CurrentValue" class="control-label"></label>
                        <input asp-for="CurrentValue" class="form-control" />
                        <span asp-validation-for="CurrentValue" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TotalValue" class="control-label"></label>
                        <input asp-for="TotalValue" class="form-control" />
                        <span asp-validation-for="TotalValue" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Unit" class="control-label"></label>
                        <input asp-for="Unit" class="form-control" />
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
