@model IEnumerable<VisionBoard.Models.Mesurement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="list-measurement" class="mesurement-table">
    @await Html.PartialAsync("IndexMeasurement", Model)
</div>
