@model IEnumerable<VisionBoard.Models.Step>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="view-all" class="steps-table">
    @await Html.PartialAsync("IndexSteps", Model)
</div>
