@model IEnumerable<VisionBoard.Models.Reward>

@{
    ViewData["Title"] = "Index";
}
<div class="mt-4">
    <h2>Rewards</h2>
    <div class="mt-4">
        <div id="list-rewards" class="rewards-table">
            @await Html.PartialAsync("IndexRewards", Model)
        </div>
    </div>
</div>



