@model IEnumerable<VisionBoard.Models.Reward>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div id="list-rewards" class="rewards-table">
    @await Html.PartialAsync("IndexRewards", Model)
</div>