
@{
    Layout = null;
    if (ViewBag.Source == null)
    {
        ViewBag.Source = Model;
    }
}

<div>
    <input type="hidden" name="source" id="source" value="@ViewBag.Source" />
    <div id="main-cropper"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="image-upload">
                <label for="select-image">
                    <span for="select-image" class="btn btn-secondary mt-1 pl-2">Choose Image</span>
                </label>
                <button id="btnupload" name="btnupload" class="btn btn-primary mt-1 pl-2">Crop</button>
                <input type="file" id="select-image" accept="image/*">
            </div>
        </div>
    </div>
</div>
